/* 1: Reset Básico */
/* Este archivo contiene estilos mínimos, ya que el diseño se maneja mayormente con Tailwind CSS en el HTML */

/* *: Selector universal, afecta a todos los elementos */
* {
    /* Modelo de caja incluye bordes y padding en el tamaño total */
    box-sizing: border-box;
    /* Sin márgenes por defecto */
    margin: 0;
    /* Sin relleno por defecto */
    padding: 0;
}